# HIV AIDS Dataset

## Step 1: Importing the necessary libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
hiv_data1 = pd.read_excel("C:/Users/Alina Sahoo/Documents/MKR/Task1/HIV_0000000026,SDGHIV.xlsx")

In [3]:
hiv_data1.head() #loads the first five values of the datset

,WHO region,Year,Number of new HIV infections,New HIV infections (per 1000 uninfected population) - Both sexes,New HIV infections (per 1000 uninfected population) - Male,New HIV infections (per 1000 uninfected population) - Female
0,Global,2019,1 700 000 [1 200 000–2 200 000],0.22 [0.16–0.3],0.23 [0.17–0.32],0.21 [0.16-0.29]
1,Global,2018,1 700 000 [1 200 000–2 300 000],0.23 [0.17–0.31],0.24 [0.17–0.33],0.22 [0.16-0.3]
2,Global,2017,1 800 000 [1 300 000–2 400 000],0.24 [0.18–0.32],0.24 [0.18–0.34],0.23 [0.17-0.32]
3,Global,2016,1 800 000 [1 300 000–2 400 000],0.25 [0.18–0.34],0.25 [0.18–0.35],0.24 [0.18-0.33]
4,Global,2015,1 900 000 [1 400 000–2 500 000],0.26 [0.19–0.35],0.26 [0.19–0.36],0.26 [0.19-0.35]

In [4]:
hiv_data1.tail() #loads the last five values of the dataset

,WHO region,Year,Number of new HIV infections,New HIV infections (per 1000 uninfected population) - Both sexes,New HIV infections (per 1000 uninfected population) - Male,New HIV infections (per 1000 uninfected population) - Female
205,Western Pacific,1994,140 000 [87 000–180 000],0.09 [0.05–0.12],0.13 [0.08–0.17],0.05 [0.03-0.06]
206,Western Pacific,1993,50 000 [32 000–67 000],0.03 [0.02–0.04],0.05 [0.03–0.06],0.02 [&lt;0.01-0.02]
207,Western Pacific,1992,40 000 [25 000–53 000],0.03 [0.02–0.03],0.04 [0.02–0.05],0.01 [&lt;0.01-0.02]
208,Western Pacific,1991,30 000 [19 000–40 000],0.02 [0.01–0.03],0.03 [0.02–0.04],&lt;0.01 [&lt;0.01-0.01]
209,Western Pacific,1990,23 000 [14 000–31 000],0.02 [&lt;0.01–0.02],0.02 [0.02–0.03],&lt;0.01 [&lt;0.01-&lt;0.01]

In [5]:
#renaming the columns for better ease

hiv_data1.rename(columns={'WHO region': 'WHO Region'}, inplace = True)
hiv_data1.rename(columns={'Number of new HIV infections': 'Number of New HIV Infections'},inplace = True)
hiv_data1.rename(columns={'New HIV infections (per 1000 uninfected population) -  Both sexes': 'New HIV Infections - Both Sexes'}, inplace = True)
hiv_data1.rename(columns={'New HIV infections (per 1000 uninfected population) - Male': 'New HIV Infections - Male'}, inplace = True)
hiv_data1.rename(columns={'New HIV infections (per 1000 uninfected population) - Female': 'New HIV Infections - Female'}, inplace = True)

In [6]:
hiv_data1.head()

,WHO Region,Year,Number of New HIV Infections,New HIV Infections - Both Sexes,New HIV Infections - Male,New HIV Infections - Female
0,Global,2019,1 700 000 [1 200 000–2 200 000],0.22 [0.16–0.3],0.23 [0.17–0.32],0.21 [0.16-0.29]
1,Global,2018,1 700 000 [1 200 000–2 300 000],0.23 [0.17–0.31],0.24 [0.17–0.33],0.22 [0.16-0.3]
2,Global,2017,1 800 000 [1 300 000–2 400 000],0.24 [0.18–0.32],0.24 [0.18–0.34],0.23 [0.17-0.32]
3,Global,2016,1 800 000 [1 300 000–2 400 000],0.25 [0.18–0.34],0.25 [0.18–0.35],0.24 [0.18-0.33]
4,Global,2015,1 900 000 [1 400 000–2 500 000],0.26 [0.19–0.35],0.26 [0.19–0.36],0.26 [0.19-0.35]

In [7]:
hiv_data1.info() #precise information on the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 6 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   WHO Region                       210 non-null    object
 1   Year                             210 non-null    int64
 2   Number of New HIV Infections     210 non-null    object
 3   New HIV Infections - Both Sexes  210 non-null    object
 4   New HIV Infections - Male        210 non-null    object
 5   New HIV Infections - Female      210 non-null    object
dtypes: int64(1), object(5)
memory usage: 10.0+ KB

In [8]:
# hiv_data1['Number of new HIV infections'] = hiv_data1['Number of New HIV Infections'].astype(str)
# hiv_data1['New HIV Infections - Both Sexes'] = hiv_data1['New HIV Infections - Both Sexes'].astype(str)
# hiv_data1['New HIV Infections - Male'] = hiv_data1['New HIV Infections - Male'].astype(str)
# hiv_data1['New HIV Infections - Female'] = hiv_data1['New HIV Infections - Female'].astype(str)

In [9]:
hiv_data1.isna().sum() #checking for the missing values if any

WHO Region                         0
Year                               0
Number of New HIV Infections       0
New HIV Infections - Both Sexes    0
New HIV Infections - Male          0
New HIV Infections - Female        0
dtype: int64

In [10]:
hiv_data1.columns

Index(['WHO Region', 'Year', 'Number of New HIV Infections',
       'New HIV Infections - Both Sexes', 'New HIV Infections - Male',
       'New HIV Infections - Female'],
      dtype='object')

## Step 2 : Data Cleaning

In [11]:
## Data Cleaning
import re
for column in hiv_data1.columns:
    hiv_data1['Number of New HIV Infections'] = hiv_data1['Number of New HIV Infections'].str.replace(r"\[.*\]", "")
    hiv_data1['New HIV Infections - Both Sexes'] = hiv_data1['New HIV Infections - Both Sexes'].str.replace(r"\[.*\]", "")
    hiv_data1['New HIV Infections - Male'] = hiv_data1['New HIV Infections - Male'].str.replace(r"\[.*\]", "")
    hiv_data1['New HIV Infections - Female'] = hiv_data1['New HIV Infections - Female'].str.replace(r"\[.*\]", "")

In [12]:
hiv_data1.head()

,WHO Region,Year,Number of New HIV Infections,New HIV Infections - Both Sexes,New HIV Infections - Male,New HIV Infections - Female
0,Global,2019,1 700 000,0.22,0.23,0.21
1,Global,2018,1 700 000,0.23,0.24,0.22
2,Global,2017,1 800 000,0.24,0.24,0.23
3,Global,2016,1 800 000,0.25,0.25,0.24
4,Global,2015,1 900 000,0.26,0.26,0.26

In [13]:
hiv_data1.tail()

,WHO Region,Year,Number of New HIV Infections,New HIV Infections - Both Sexes,New HIV Infections - Male,New HIV Infections - Female
205,Western Pacific,1994,140 000,0.09,0.13,0.05
206,Western Pacific,1993,50 000,0.03,0.05,0.02
207,Western Pacific,1992,40 000,0.03,0.04,0.01
208,Western Pacific,1991,30 000,0.02,0.03,&lt;0.01
209,Western Pacific,1990,23 000,0.02,0.02,&lt;0.01

In [14]:
# Cleaning special characters

spec_chars = ["&",";","l","t"]

for char in spec_chars:
    hiv_data1['Number of New HIV Infections'] = hiv_data1['Number of New HIV Infections'].str.replace(' ','')
    hiv_data1['New HIV Infections - Both Sexes'] = hiv_data1['New HIV Infections - Both Sexes'].str.replace(char, ' ')
    hiv_data1['New HIV Infections - Male'] = hiv_data1['New HIV Infections - Male'].str.replace(char,' ')
    hiv_data1['New HIV Infections - Female'] = hiv_data1['New HIV Infections - Female'].str.replace(char, ' ')

In [15]:
hiv_data1.head()

,WHO Region,Year,Number of New HIV Infections,New HIV Infections - Both Sexes,New HIV Infections - Male,New HIV Infections - Female
0,Global,2019,1700000,0.22,0.23,0.21
1,Global,2018,1700000,0.23,0.24,0.22
2,Global,2017,1800000,0.24,0.24,0.23
3,Global,2016,1800000,0.25,0.25,0.24
4,Global,2015,1900000,0.26,0.26,0.26

In [16]:
hiv_data1.to_excel(r'C:\Users\Alina Sahoo\Documents\MKR\Task1\HIV1.xlsx', index = False)

Finally, our data-cleaning has been done successfully and is imported as an excel file.