# HIV AIDS Dataset 2

## Step 1 : Importing the necessary libraries

In [1]:
import pandas as pd
import numpy as np

In [2]:
hiv_data2 = pd.read_excel("C:/Users/Alina Sahoo/Documents/MKR/Task1/HIV_0000000006.xlsx")

In [3]:
hiv_data2.head() #loads the first five values of the dataset

  WHO region  Year Number of deaths due to HIV/AIDS
0     Global  2019        690 000 [500 000–970 000]
1     Global  2018      730 000 [530 000–1 000 000]
2     Global  2017      760 000 [550 000–1 100 000]
3     Global  2016      800 000 [580 000–1 100 000]
4     Global  2015      830 000 [610 000–1 200 000]

In [4]:
hiv_data2.tail() #loads the last five values of the dataset

          WHO region  Year Number of deaths due to HIV/AIDS
205  Western Pacific  1994               7700 [4100–13 000]
206  Western Pacific  1993                 5500 [2900–9500]
207  Western Pacific  1992                 4000 [2100–6800]
208  Western Pacific  1991                 2900 [1600–5000]
209  Western Pacific  1990                 2100 [1100–3600]

In [5]:
#renaming the columns for better ease

hiv_data2.rename(columns={'WHO region': 'WHO Region'}, inplace = True)

In [6]:
hiv_data2.head()

  WHO Region  Year Number of deaths due to HIV/AIDS
0     Global  2019        690 000 [500 000–970 000]
1     Global  2018      730 000 [530 000–1 000 000]
2     Global  2017      760 000 [550 000–1 100 000]
3     Global  2016      800 000 [580 000–1 100 000]
4     Global  2015      830 000 [610 000–1 200 000]

In [7]:
hiv_data2.info() #precise information of the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 3 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   WHO Region                        210 non-null    object
 1   Year                              210 non-null    int64
 2   Number of deaths due to HIV/AIDS  210 non-null    object
dtypes: int64(1), object(2)
memory usage: 5.0+ KB

In [8]:
hiv_data2.isna().sum() #checks for the missing values

WHO Region                          0
Year                                0
Number of deaths due to HIV/AIDS    0
dtype: int64

# Step 2: Data Cleaning

In [9]:
import re
for column in hiv_data2.columns:
    hiv_data2['Number of deaths due to HIV/AIDS'] = hiv_data2['Number of deaths due to HIV/AIDS'].str.replace(r"\[.*\]", "")

In [10]:
hiv_data2.tail()

          WHO Region  Year Number of deaths due to HIV/AIDS
205  Western Pacific  1994                            7700
206  Western Pacific  1993                            5500
207  Western Pacific  1992                            4000
208  Western Pacific  1991                            2900
209  Western Pacific  1990                            2100

In [11]:
hiv_data2.head()

  WHO Region  Year Number of deaths due to HIV/AIDS
0     Global  2019                         690 000
1     Global  2018                         730 000
2     Global  2017                         760 000
3     Global  2016                         800 000
4     Global  2015                         830 000

In [12]:
# Cleaning special characters

spec_chars = ["&",";","l","t"]

for char in spec_chars:
    hiv_data2['Number of deaths due to HIV/AIDS'] = hiv_data2['Number of deaths due to HIV/AIDS'].str.replace(char, ' ')
    hiv_data2['Number of deaths due to HIV/AIDS'] = hiv_data2['Number of deaths due to HIV/AIDS'].str.replace(' ','')

In [13]:
hiv_data2.head()

  WHO Region  Year Number of deaths due to HIV/AIDS
0     Global  2019                           690000
1     Global  2018                           730000
2     Global  2017                           760000
3     Global  2016                           800000
4     Global  2015                           830000

In [14]:
hiv_data2.tail()

          WHO Region  Year Number of deaths due to HIV/AIDS
205  Western Pacific  1994                             7700
206  Western Pacific  1993                             5500
207  Western Pacific  1992                             4000
208  Western Pacific  1991                             2900
209  Western Pacific  1990                             2100

In [15]:
hiv_data2.to_excel(r'C:\Users\Alina Sahoo\Documents\MKR\Task1\HIV2.xlsx', index = False)