# HIV AIDS Dataset 3

## Step 1 : Importing the necessary libraries

In [1]:
import numpy as np
import pandas as pd

In [2]:
hiv_data3 = pd.read_excel("C:/Users/Alina Sahoo/Documents/MKR/Task1/HIV_0000000001.xlsx")

In [3]:
hiv_data3.head() #loads the first five values of the dataset

   REGION  YEAR PEOPLE HAVING HIV
0  Global  2019       38 000 000
1  Global  2018        37 300 000
2  Global  2017        36 500 000
3  Global  2016        35 700 000
4  Global  2015       34 900 000

In [4]:
hiv_data3.tail() #loads the last five values of the dataset

              REGION  YEAR PEOPLE HAVING HIV
205  Western Pacific  1994          320 000
206  Western Pacific  1993          200 000
207  Western Pacific  1992          150 000
208  Western Pacific  1991           120 000
209  Western Pacific  1990           90 000

In [5]:
hiv_data3.info() #provides the concise information of the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   REGION             210 non-null    object
 1   YEAR               210 non-null    int64
 2   PEOPLE HAVING HIV  210 non-null    object
dtypes: int64(1), object(2)
memory usage: 5.0+ KB

In [6]:
hiv_data3.isna().sum() #checks if there are any missing values

REGION               0
YEAR                 0
PEOPLE HAVING HIV    0
dtype: int64

## Step 2 : Data Cleaning

In [7]:
hiv_data3['PEOPLE HAVING HIV'] = hiv_data3['PEOPLE HAVING HIV'].str.replace(' ','') #removed the extra spacing between the numbers

In [8]:
hiv_data3.head() #loads the first five values of the dataset

   REGION  YEAR PEOPLE HAVING HIV
0  Global  2019          38000000
1  Global  2018          37300000
2  Global  2017          36500000
3  Global  2016          35700000
4  Global  2015          34900000

In [9]:
hiv_data3.tail() #loads the last five values of the dataset

              REGION  YEAR PEOPLE HAVING HIV
205  Western Pacific  1994            320000
206  Western Pacific  1993            200000
207  Western Pacific  1992            150000
208  Western Pacific  1991            120000
209  Western Pacific  1990             90000

In [10]:
hiv_data3.to_excel(r'C:\Users\Alina Sahoo\Documents\MKR\Task1\HIV3.xlsx', index = False)